.wrapper {
  margin-top: 20px;
  height: 105px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: var(--white);
}

.heading {
  position: absolute;
  left: 30px;
  font: var(--font-h3);
  color: var(--black);
  margin: 0;
}