.wrapper {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.heading {
  font: var(--font-h3);
  color: var(--font-color-black);
  margin: 0 0 30px 0;
}

.close_button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.close_icon {
  width: 24px;
  height: 24px;
  path {
    fill: var(--blue-dark-button);
  }
}