@use 'normalize.css';
@use './shared/styles/global';

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("./shared/assets/fonts/Inter/Inter.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("./shared/assets/fonts/Inter/Inter.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("./shared/assets/fonts/Inter/Inter.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("./shared/assets/fonts/Roboto/Roboto.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: normal;
  src: url("./shared/assets/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("./shared/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("./shared/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
  font-family: var(--font-inter), sans-serif;
}